html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #313244;
  color: #cdd6f4;
}

main {
  font-family: sans-serif;
  font-size: 20px;
  margin: 32px auto;
  max-width: 900px;
  padding-inline: 32px;
}

hgroup h1 {
  margin-bottom: 0.2em;
}

hgroup p {
  display: inline-block;
  margin-block: 0;
}

hgroup p + p::before {
  content: ' · ';
}

a {
  color: #89b4fa;
}
